<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title text-center class='headers'>Wayfarer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id='text-container'>
    <h1 text-center *ngIf="this.apiServ.OBJECTS[1]" class='titles'>{{ this.apiServ.OBJECTS[1].title }}</h1>
    <p text-center *ngIf="this.apiServ.OBJECTS[1]" class='bodies'>{{ this.apiServ.OBJECTS[1].title }}</p>
    <p *ngIf="this.apiServ.SEMAPHORE" text-center class='actions' (click)="exploreAction()">Explore</p>
  </div>
  
</ion-content>
