ion-content{
    --background: #fff url('../../../assets/backgrounds/ocean.jpg') no-repeat center center / cover;
}

ion-title{
    font-family: 'Lato-Bold';
    font-size: 18px;
}
#text-container{
    margin-top: 210px;
}

h1.titles{
    font-family: 'Abril-Fatface';
    font-size:50px;
    color: white;
}

p.bodies{
    font-family:'Lato-Regular';
    color: white;
}

p.actions{
    margin-top:100px;
    color:white;
}